{% extends "screendisplay/base.html" %}
{% block content %}
<!-- About Section Content-->
<div class="row">
     <h3 class="block-header text-center" style="text-weight:bold; font-size:32px;">महत्वपूर्ण प्रमुख समाचार</h3>
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the</p>
    <div class="carousel-inner" role="listbox">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for p in vacancy_list %}
            {% if forloop.counter == 1 %}
            <div class="item active">
                {% else %}
                <div class="item">
                    {% endif %}
                    <img src="{{ p.vacancy_image.url }}" alt="Image" width="460" height="345">
                    <div class="carousel-caption">
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</div>
{% endblock content %}

{% block content2 %}
<!-- About Section Content-->
<div class="row">
    <div class="official-block">
        <h3 class="block-header" style="color:red; text-align:center; font-weight:bold">पदाधिकारी</h3>
        {% for official in official_list %}
        <div class="official-head">
            <p class="aligncenter">
                <img src="{{ official.official_image.url }}" border="4" width="220" height="220" alt="Officials image"/>
            </p>
            <h4 class="official-name" style="text-align: center; color:green; font-size: 22px;">{{ official.official_name }} </h4>
            <h4 class="official-title" style="text-align: center; color:green; font-size: 22px;"> {{ official.official_designation }} </h4>
            <h4 class="official-phoneno" style="text-align: center"> {{ official.official_phoneno }} </h4>
        </div>
        {% endfor %}
    </div>
</div>

{% for office in office_list %}
    <h3>कार्यालयको नाम: {{ office.office_name }}, {{ office.office_sec_name }}</h3>
    <h3>{{ office.office_address_locallevel }}, {{ office.office_address_district }}</h3>
    <h3>{{ office.office_address_province }}, नेपाल |</h3>
    <h3>वेवसाइट: {{ office.office_website }}, इमेल: {{ office.office_email }} |</h3>
    <h3>सम्पर्क नं. {{ office.office_phoneno }}, आपतकालिन सम्पर्क नं. {{ office.office_emergencyno }}</h3>
{% endfor %}
{% endblock content2 %}