{% extends "screendisplay/basebackend.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8">
    <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">पदाधिकारी विवरण</h6></div>
        <div>
            <a href="{% url 'office-create' %}" class="btn btn-info btn-bg">
                <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>

    {% for office in office_list %}

    <h3>कार्यालयको नाम: {{ office.office_name }}, {{ office.office_sec_name }}</h3>
    <h3>{{ office.office_address_locallevel }}, {{ office.office_address_district }}</h3>
    <h3>{{ office.office_address_province }}, नेपाल |</h3>
    <h3>वेवसाइट: {{ office.office_website }}, इमेल: {{ office.office_email }} |</h3>
    <h3>सम्पर्क नं. {{ office.office_phoneno }}, आपतकालिन सम्पर्क नं. {{ office.office_emergencyno }}</h3>
    {% endfor %}

</div>
{% endblock content %}