{% extends "screendisplay/basebackend.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> पधाधिकारी हटाउने ?? </legend>
                <h2>Are You Sure you want to delete the post / पोस्ट हटाउने हो ?? " {{ object.official_name }} "</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">हो! हटाउने</button>
                <a class="btn btn-outline-secondary" href="{% url 'official-list' %}">होइन</a>
            </div>
        </form>
    </div>
{% endblock content %}