{% extends "screendisplay/base.html" %}
{% block content %}
PP LIst <a href="{% url 'publicprocurement-create' %}">ABC</a>
<a class="nav-item nav-link" href="{% url 'publicprocurement-create' %}">New Post</a>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
PP LIst <a href="{% url 'publicprocurment-create' %}">ABC</a>
<a class="nav-item nav-link" href="{% url 'publicprocurment-create' %}">New Post</a>
</body>
</html>