{% extends "screendisplay/basebackend.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
<!--            <a class="mr-2" href="#">{{ object.created_by }}</a>-->
<!--            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>-->
        </div>
        <h2 class="article-title" style="text-align:left;">{{ object.vacancy_title }}</h2>
        <img src="{{ object.vacancy_image.url }}">
    </div>
</article>
{% endblock content %}