{% extends "screendisplay/basebackend.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8">
    <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">प्रदेश विवरण</h6></div>
        <div>
            <a href="{% url 'vacancy-create' %}" class="btn btn-info btn-bg">
                <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">सूचना</th>
            <th scope="col">प्रकाशित मिति</th>
            <th scope="col">स्थिति</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancy_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'vacancy-detail' vacancy.id %}">{{ vacancy.vacancy_title }}</a></td>
            <td>{{ vacancy.date_posted }}</td>
            <td>if vacancy.vacancy_published_status</td>
            <td>
                <a href="{% url 'vacancy-update' vacancy.id %}" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'vacancy-delete' vacancy.id %}" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for p in vacancy_list %}
            {% if forloop.counter == 1 %}
            <div class="item active">
                {% else %}
                <div class="item">
                    {% endif %}
                    <img src="{{ p.vacancy_image.url }}" alt="Image" width="460" height="345">
                    <div class="carousel-caption">
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endblock content %}